.main {
  width: 100vw;
  min-height: 100vh;
  position: relative;

  padding: 1.5rem;
  box-sizing: border-box;

  @media(min-width: 1024px) {
    padding: 2.5rem 7.063rem 2.5em 7.063rem;
  }
}

.back{
  display: flex;
  align-items: center;
  gap: 8px;

  color: #555555;
  font-size: .875rem;

  cursor: pointer;

  &:hover{
    color: #167ABC;

    .arrowLeft{
      border-color: #167ABC;
    }
  }

  @media(min-width: 1024px) {
    position: absolute;

    top: 26px;
    left: 30px;
  }
}

.arrowLeft {
  position: relative;
  width: 6px;
  height: 6px;
  border-right: 2px solid #555555;
  border-top: 2px solid #555555;
  transform: rotate(225deg);
}